@import "../mixins";

.header{
  background-color: #fff;
  padding: 10px 20px;
  border: 0.5px solid #cecece;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__wrap{
    display: flex;
    flex-wrap: wrap;
  }

  &__filter{
    margin: 0 10px 10px 0;
    padding: 5px 15px;
    background-color: #fff;
    color: #1f2933;
    border: 1px solid #cbd2d9;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover{
      background-color: #d2d0d0;
    }

    &--icon{
      padding-left: 5px;
    }
  }

  &__button{
    min-width: 200px;
    height: 30px;
    background-color: #fff;
    color: #d14545;
    border: 1px solid #d14545;
    border-radius: 10px;
    cursor: pointer;

    &:hover{
      background-color: #f3dddd;
    }
  }
}

.brands{
  display: none;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.15)!important;
  border-radius: 5px;
  padding: 10px 25px;
  margin-bottom: 20px;

  @include onSDesktop{
    display: flex;
  }

  &__item{
    margin: 1px 5px 1px 1px;
    padding: 5px 21px;
    border-radius: 5px;
    border: 1px solid #cbd2d9;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    align-items: center;

    &--active{
      margin: 1px 5px 1px 1px;
      padding: 5px 21px;
      border-radius: 5px;
      border: 1.5px solid #2386e3;
      cursor: pointer;
      background-color: #fff;
      display: flex;
      align-items: center;
    }

    &--image-wrap{
      width: 60px;
      height: 30px;
      overflow: hidden;
    }

    &--image{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.sort{
  display: none;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.15)!important;
  border-radius: 5px;
  padding: 0 15px;
  margin-bottom: 20px;

  @include onSDesktop{
    display: flex;
    justify-content: flex-end;
  }

  &__dropdown{
    display: flex;
    align-items: center;

    &--text{
      font-size: 17px;
      font-weight: 600;
      padding-right: 10px;
    }
  }
}
