.error{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;

  &__title{
    padding-bottom: 10px;
    color: #1e293b;
    font-size: 19px;
    line-height: 19px;
  }

  &__text{
    padding-bottom: 10px;
    color: #1e293b;
    font-size: 19px;
    line-height: 19px;
  }
}
