$color-white: #fff;
$color-black: #311551;
$color-dark-purple: #2c0d50;
$color-purple-dark-background: #54268a;
$color-purple: #6c2fb4;
$color-middle-purple: #b597d9;
$color-purple-date: #a99fb5;
$color-purple-to-white: #d1baee;
$color-purple-border: #e3d4f5;
$color-purple-background: #e3d4f5;
$color-light-pink: #f6e7ff;
$color-light-pink-two: #f3e0ff;
$color-light-purple: #b42f98;
$color-green-hover: #19622a;
$color-green-text: #147228;
$color-green: #2fb44b;
$color-green-active: #9adda8;
$color-green-background: #bbe2c6;
$color-light-green: #e6fdeb;
$color-green-light: #eef9f1;
$color-light-gray: #cdcdcd;
$color-gray-text: #b9b7b7;
$color-another-gray: #c2c2c2;
$color-gray: #f7f7f7;
$color-background-light: #f0eaf7;
$color-background-gray-light: #f5f3f6;
$color-turquoise: #1dbde0;
$color-blue: #4285f4;
$color-blue-text: #004ce7;
$color-blue-hover: #2d5ba6;
$color-blue-active: #96b2e0;
$color-blue-background: #e0eafd;
$color-blue-light: #deeaff;
$color-blue-light-two: #f4f8ff;
$color-blue-dark: #2152b7;
$color-red-text: #c52e25;
$color-red-promo: #d41919;
$color-red: #d51f1f;
$color-red-quiz: #ea5d5d;
$color-coral: #eb996e;
$color-red-background: #f5b5b5;
$color-red-light: #faedf5;
$color-orange-hover: #af6800;
$color-orange-text: #ef893a;
$color-yellow-hover: #b98e00;
$color-orange: #f90;
$color-yellow: #fbbc05;
$color-yellow-active: #f8c868;
$color-yellow-quiz: #f0de3e;
$color-yellow-light: #fff7ca;
$color-orange-light: #fff5e5;
$color-gray-border: #f0f0f0;